body{
    min-height: 100vh;
}

.heading{
    display: flex;
    justify-content: center;
}

.allimage{
    display: flex;
    justify-content: center;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 15px;
    cursor: pointer;
}

img:active{
    transform: scale(1.1);
}